<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 配置整合MyBatis过程 -->
	<!-- 1：配置整合数据库 -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	<!-- 2:数据库连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- 配置连接池属性 -->
		<property name="driverClass" value="${driverClass}" />
		<property name="jdbcUrl" value="${jdbcUrl}" />
		<property name="user" value="${user}" />
		<property name="password" value="${password}" />
		<!-- c3p0连接池的私有属性 -->
		<!-- 最大连接数 -->
		<property name="maxPoolSize" value="30" />
		<!-- 最小连接数 -->
		<property name="minPoolSize" value="10" />
		<!-- 连接数不足，超时等待时间，默认为0 -->
		<property name="checkoutTimeout" value="1000" />
		<!-- 连接失败重试次数 -->
		<property name="acquireRetryAttempts" value="3" />
	</bean>
	<!-- 3：配置SqlSessionFactory对象 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 注入数据库连接池 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 配置mybatis全局配置文件：mybatis-config.xml -->
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
		<!-- 扫描entity包，使用别名 -->
		<property name="typeAliasesPackage" value="com.seckill.entity" />
		<!-- 扫描sql配置文件：mapper -->
		<property name="mapperLocations" value="classpath:mapper/*.xml" />
	</bean>
	<!-- 4：配置扫描Dao接口包，动态实现Dao接口，注入到Spring容器中 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 注入sqlSessionFactory -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
		<!-- 需要扫描的Dao接口包 -->
		<property name="basePackage" value="com.seckill.dao"></property>
	</bean>
</beans>